server:
  service:
    type: LoadBalancer
  ingress:
    enabled: false
  extraArgs:
    - --insecure
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-internal: "false"
  
crds:
  keep: false