apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-central-1:438950223046:certificate/0890d942-56da-41cb-b91e-f9d3f0846e20
    external-dns.alpha.kubernetes.io/hostname: dev.bzyk0945.site  # nadpiszemy w overlay
spec:
  ingressClassName: alb
  rules:
    - host: dev.bzyk0945.site   # nadpiszemy w overlay
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80