prometheus:
  prometheusSpec:
    replicas: 1
    retention: 2d
    resources:
      requests:
        memory: "512Mi"
      limits:
        memory: "1Gi"
    storageSpec:
      emptyDir: {}

alertmanager:
  alertmanagerSpec:
    replicas: 1

grafana:
  ingress:
    enabled: false