name: Frontend Production Pipeline

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]
    pull_request:
      branches: [ "main" ]
    paths: [ "02-app-source-code/frontend/**" ]

permissions:
  id-token: write   
  contents: read    

env:
  AWS_REGION: eu-central-1
  ECR_REPOSITORY: test
  IAM_ROLE_ARN: arn:aws:iam::438950223046:role/GitHubActionRole

jobs:
  integration:
    name: Quality Gate
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02-app-source-code/frontend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: 02-app-source-code/frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Lint Code
        run: npm run lint

      - name: Run Unit Tests
        run: npm test test

      - name: Scan Dependencies (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: './02-app-source-code/frontend'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          exit-code: '1'

  delivery:
    needs: integration 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Configure AWS Credentials 
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v6
        with:
          images: |
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}
          tags: |
            type=raw,value=main-{{sha}},enable=${{ github.ref == 'refs/heads/main' }}
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Load
        uses: docker/build-push-action@v6
        with:
          context: ./02-app-source-code/frontend
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Scan Docker Image (Trivy Image)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
      - name: Push to ECR
        uses: docker/build-push-action@v6
        with:
          context: ./02-app-source-code/frontend
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max