name: Frontend Production Pipeline

on:
  push:
    branches: [ "main" ]
    pull_request:
      branches: [ "main" ]
    paths: [ "02-app-source-code/frontend/**" ]

permissions:
  id-token: write   
  contents: read    

env:
  AWS_REGION: eu-central-1
  ECR_REPOSITORY: test
  IAM_ROLE_ARN: arn:aws:iam::438950223046:role/GitHubActionRole

jobs:
  integration:
    name: Quality Gate
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02-app-source-code/frontend

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: 02-app-source-code/frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Lint Code
        run: npm run lint

      - name: Run Unit Tests
        run: npm test test

      - name: Scan Dependencies (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: './02-app-source-code/frontend'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          exit-code: '1'

  delivery:
    name: Build & Push
    needs: integration 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials 
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build and export to Docker so we can scan the image
      - name: Build and Load
        uses: docker/build-push-action@v6
        with:
          context: ./02-app-source-code/frontend
          load: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Scans the actual Docker image OS (Alpine/Debian)
      - name: Scan Docker Image (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      # Push to AWS ECR only if scanning passes
      - name: Push to ECR
        uses: docker/build-push-action@v6
        with:
          context: ./02-app-source-code/frontend
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max