name: CI Backend

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - '02-app-source-code/backend/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '02-app-source-code/backend/**'
  workflow_dispatch:

permissions:
  id-token: write        # Required for AWS OIDC authentication
  contents: write        # Required for repo operations
  pull-requests: write   # Required for Release Please to manage Release PRs

env:
  AWS_REGION: eu-central-1
  ECR_REPOSITORY: dev-myapp-backend
  IAM_ROLE_ARN: arn:aws:iam::438950223046:role/GitHubActionRole

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: ./02-app-source-code/backend

  release-please:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: lint
    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          release-type: go

  # ---------------------------------------------------------
  # JOB 3: Build & Push (Runs ONLY when a new Tag is created)
  # ---------------------------------------------------------
  push:
    name: Build and Push to ECR
    needs: lint
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.ref_name }}
        run: |
          docker build -t $ECR_REGISTRY/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG ./02-app-source-code/backend
          docker push $ECR_REGISTRY/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG