name: CI Frontend
on:
  pull_request:
    paths: ['02-app-source-code/frontend/**']
jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02-app-source-code/frontend
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: 02-app-source-code/frontend/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Lint Code
        run: npm run lint

      - name: Run Unit Tests
        run: npm test

      - name: Scan Dependencies (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: './02-app-source-code/frontend'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          exit-code: '1'

 