name: Digger Terraform

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, closed]
    paths: ["01-terraform-infra/**"]
  issue_comment:
    types: [created]
  workflow_dispatch:

permissions:
  contents: write
  actions: write
  id-token: write
  pull-requests: write
  issues: read
  statuses: write

jobs:
  digger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # - name: Setup Infracost
      #   uses: infracost/actions/setup@v3
      #   with:
      #     api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Digger
        uses: diggerhq/digger@vLatest
        with:
          no-backend: true
          setup-aws: true
          aws-role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-central-1
          setup-terragrunt: true
          terragrunt-version: 0.99.4
          setup-opentofu: true
          opentofu-version: 1.11.0
          cache-dependencies: true
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TERRAGRUNT_TFPATH: tofu 
          DIGGER_LOG_LEVEL: debug